

body{
  background-color:rgba(200, 230, 300, 0.5);

}
.jumbotron{
  border-radius:0;
  background: url(../images/pexels-photo-248797.jpeg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
}


.popup{
  display: none;
}

.div-main{
  margin: 0px auto;
  width: 40%;

}

.main-logged-in{
  margin: 0px auto;
  width: 20%;
  display: none;
}
.div-main input {
  display:block;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  outline: none;
  width:50%;
  margin: 0px auto;
  margin-bottom: 20px;


}

.div-main input:focus{
  border: 1px solid #999;
}


.div-main button{
  background: #5d8ffc;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width:100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.div-main button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
}

.main-logged-in button{
  background: #5d8ffc;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  padding: 15px;
  margin-top:15px;
  display: block;
  width:100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.main-logged-in button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
}


.main-logged-in p{
  background: #5d8ffc;
  border: 0px;
  border-radius: 5px;
  color: #fff;
  display:block;
  margin: 15px 0 0 0;
  padding: 15px;

}
.main-logged-in p:hover{
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;

}
